<p><%= f.label :title %></p>
<%= f.text_field :title %><br />

<center><p><%= f.label :category %></p>
<%= select_tag 'category_id', options_from_collection_for_select(Category.all, 'id', 'name') %>

<p><%= f.label "Upload Photo" %></p>
<%= f.file_field :photo %>

<p><%= f.label :body %></p>
<%= f.text_area :body, :class => "tinymce", :rows => 5, :cols => 10 %>
<%= tinymce %>




<p><%= f.submit "Save"%></p>

